<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UCSM</title>
  <body>
    <h1>Folder: {{ folder }}</h1>
    <a href="/">Back to Explorer</a>
    <hr>
    <h3>Upload to this folder</h3>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="hidden" name="folder" value="{{ folder }}">
      File: <input type="file" name="files" multiple required>
      <input type="submit" value="Upload Files">
    </form>
    <hr>
    <h3>Files</h3>
    <ul>
    {% for file_name in files %}
      {% if not file_name.endswith('.zip') and file_name != '.DS_Store' %}
      <li>
        <a href="/content/{{ folder }}/{{ file_name }}">{{ file_name }}</a>
      </li>
      {% endif %}
    {% endfor %}
    </ul>
    <hr>
    <a href="/download/{{ folder }}">Download {{ folder }}.zip</a>
  </body>
  </head>
</html>
